#id_foto_motorista{
    height: 40px;
    width: 350px;
}
#id_foto_carro{
    height: 40px;
    width: 350px;
}
#id_foto_cnh{
    height: 40px;
    width: 350px;
}
#id_profile{
    background: #eee;
    pointer-events: none;
    touch-action: none;
}