{% load static %}

<div class="card mb-4 shadow-sm" style="width: 18rem;">
    <img class="card-img-top" src="{{ motorista.foto_motorista.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ use_r.username }}</h5>
      <p class="card-text">Vagas Disponíveis: {{ carona.lotation }}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-otline-secondary" data-toggle="modal" data-target="#solicitar" onclick="myFunction()">Solicitar</button>
            <button type="button" class="btn btn-sm btn-otline-secondary" data-toggle="modal" data-target="#detalhes">Detalhes</button>
        </div>
        <small class="text-muted">{{ carona.carona_duration }} minutos</small>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detalhes" tabindex="-1" role="dialog" aria-labelledby="detalhesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detalhesTitulo">Carona do {{ use_r.username }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Data inicial: {{ carona.date_inicial_carona }} <br/>
            Data final: {{ carona.date_final_carona }} <br/>
            {{carona.carona_location}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="solicitar" tabindex="-1" role="dialog" aria-labelledby="solicitarModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="solicitarTitulo">Aguarde!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Sua solicitação foi enviada para o motorista, aguarde a resposta dele.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>