<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color"><!---->
    <a class="navbar-brand" href="{% url 'index' %}">Unisocar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'caronas_disponiveis' %}">Caronas Disponíveis</a>
                </li>
                {% if profile.eh_motorista %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'adicionar_carona' %}">Adicionar Carona</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="{% url 'cadastro_ser_motorista' %}">Cadastro como Motorista</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Minha Conta
                    </a>
                    <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #2A3994;">
                        <a class="dropdown-item text-white" href="{% url 'atualizar_dados' %}">Atualizar dados</a>
                        <a class="dropdown-item text-white" href="{% url 'alterar_senha' %}">Alterar senha</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-white" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="{% url 'cadastro' %}">Cadastre-se</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>







