{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
  <title>Adicionar Localizacao</title>
{% endblock %}


{% block navbar %}
  {% include "app/includes/navbar.html" with profile=profile %}
{% endblock %}


{% block content %}
  <div class="container">
    <h2 class="text-dark">ADICIONAR CARONA</h2>
    <br>
    <form method="post">
      {% csrf_token %}

      {{ locali_form|crispy }}
      
      <div class="submit-buttons">
        <button type="submit" class="btn btn-warning mr-3">Adicionar</button>
        <button type="reset" class="btn btn-danger">Resetar</button>
        <a href="{% url 'adicionar_carona' %}" class="btn btn-secondary">Voltar</a>
      </div>
    </form>
  </div>
{% endblock %}