<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Adicione uma carona</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <br>
  </head>
    <link rel="stylesheet" href="add.css">
  <body>
    <div class="container">
      <h2 class="text-dark">ADICIONAR CARONA</h2>
      <br>
      <div class="thumbnail-container">
        <img
          src="https://via.placeholder.com/150"
          alt="Foto de perfil"
          class="img-thumbnail thumbnail-image"
        />
        <p class="thumbnail-text">Nome</p>
      </div>
      <form>
        <div class="form-group">
            <input type="text" class="form-control" id="localizacao" placeholder="Localização atual" tabindex="1" required />
          </div>   
          <br>       
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="Destino"
            placeholder="Destino"
          />
          <br>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="Placa"
            placeholder="Placa"
          />
        </div>
        <br>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="lotacao"
            placeholder="Lotação do veículo"
          />
        </div>
        <br>
        <div class="submit-buttons">
          <button type="submit" class="btn btn-warning mr-3">
            Adicionar caronas
          </button>
          <button type="button" class="btn btn-primary">Cancelar</button>
        </div>          
      </form>
    </div>
  </body>
</html>
