{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
  <title>Atualizar dados</title>
{% endblock %}


{% block navbar %}
  {% include "app/includes/navbar.html" with profile=profile %}
{% endblock %}


{% block content %}
  <div class="container">
    {% if profile.eh_motorista %}
      {% if profile.motorista.foto_motorista %}
        <img src="{{ profile.motorista.foto_motorista.url }}" alt="" style="border-style: ridge;">
      {% else %}
        <img src="{% static 'img/foto_em_branco.png' %}" alt="" style="border-style: ridge;">
      {% endif %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form-signin">
        {% csrf_token %}

        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        {% if profile.eh_motorista %}
            {{ motorista_form|crispy }}
        {% endif %}

        <button class="btn btn-lg btn-warning" type="submit">Atualizar</button>
        <a class="btn btn-lg btn-danger" href="{% url 'caronas_disponiveis' %}">Voltar</a>
    </form>
  </div>
{% endblock %}


{% block javascript %}
<script>
  
</script>
{% endblock %}