{% extends 'base.html' %}
{% load bootstrap %}

{% block titulo %}
    <title>Cadastro</title>
{% endblock %}


{% block content %}
    <div class="container">
        <h2>Cadastre-se</h2>
    </div>
    <form method="post" class="">
        <div class="container">
            {% csrf_token %}

            {{ form_user|bootstrap}}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
    </form>
{% endblock %}

{% block javascript %}
<script>
    // document.querySelector("[for=id_cpf_user]") = "CPF"
</script>
{% endblock %}