{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block titulo %}
  <title>Cadastro - Passageiro</title>
{% endblock %}


{% block estilo %}
  <style>
    #id_user{
      background: #eee;
      pointer-events: none;
      touch-action: none;
    }
  </style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="container">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Continue seu cadastro como Passageiro!</h1>
  </div>
  <form class="form-sigin" method="post" onload="auto_preencher_input()">
      {% csrf_token %}

      {{ profile_form|crispy }}

      <button class="btn btn-lg btn-primary" type="submit">Cadastrar</button>

  </form>
</div>
{% endblock %}

