{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
    <title>Cadastro - Motorista</title>
{% endblock %}

{% block estilo %}
    <style>
        #id_foto_motorista{
            height: 40px;
            width: 350px;
        }
        #id_foto_carro{
            height: 40px;
            width: 350px;
        }
        #id_foto_cnh{
            height: 40px;
            width: 350px;
        }
        #id_profile{
            background: #eee;
            pointer-events: none;
            touch-action: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 text-dark">Cadastre-se como Passageiro!</h1>
    </div>
    <form class="form-signin" method="post">
        {% csrf_token %}

        {{ motorista_form|crispy }}

        <button class="btn btn-lg btn-primary" type="submit">Cadastrar-se</button>
    </form>
</div>
{% endblock %}