{% extends 'base.html' %}
{% load static %}

{% block titulo %}
  <title>Unisocar - Caronas</title>
{% endblock %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/caronas_disponiveis_style.css' %}"/>
{% endblock %}

{% block content %}
  <h1 class="text-center my-5">Caronas Disponíveis</h1>
  <!-- <div class="album py-5 bg-light"> -->
    <div class="container">
      <div class="row"> <!--row-cols-1 row-cols-sm-2 row-cols-md-3 g-3-->
        <div class="col-md-4">
          {% for carona, motorista in caronas_e_motoristas %}
            {% include "app/includes/carona_card.html" with carona=carona motorista=motorista %}
          {% endfor %}
        </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
<script>
  function myFunction() {
    console.log("fui clicado");
  }
</script>
{% endblock %}