{% extends 'base.html' %}
{% load static %}


{% block titulo %}
  <title>UnisoCar - Caronas</title>
{% endblock %}


{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/caronas_disponiveis_style.css' %}"/>
{% endblock %}


{% block navbar %}
  {% include "app/includes/navbar.html" with profile=profile %}
{% endblock %}


{% block content %}
  <h1 class="text-center my-5">Caronas Disponíveis</h1>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row"> 
          {% for carona in caronas %}
            {% include "app/includes/carona_card.html" with carona=carona %}
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
