{% extends 'app/caronas_disponiveis.html' %}

{% block content %}
    {% for carona in caronas %}
        <div class="card">
            <img
            src="https://via.placeholder.com/150x150" 
            class="card-img-top"
            alt="Foto do Motorista"
            />
            <!-- {{ carona.user_motorista.foto_motorista }} -->
            <div class="card-body">
            <h5 class="card-title">{{ carona.user_motorista.username }}</h5>
            <p class="card-text">Vagas Disponíveis: {{ carona.lotation }}</p>
            <a href="#" class="btn btn-primary">Solicitar Carona</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}