{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="{% url 'caronas_disponiveis' %}">Caronas Disponíveis</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <h1>Welcome to my custom page!</h1>

    <p>This is a custom page that uses the styles defined in the <code>index_style.css</code> file.</p>
</body>
</html>