{% extends 'base.html' %}
{% load static %}


{% block titulo %}
  <title>Minha Conta</title>
{% endblock %}


{% block navbar %}
  {% include "app/includes/navbar.html" with profile=profile %}
{% endblock %}


{% block content %}
  <div class="container">
    <h1>Minha Conta</h1>
    <br>
    <a href="{% url 'atualizar_dados' %}" class="btn btn-primary btn-lg btn-block">Atualizar dados cadastrais</a>
    <a href="{% url 'alterar_senha' %}" class="btn btn-warning btn-lg btn-block">Alterar senha</a>
  </div>
{% endblock %}
